:root {
    --primary-color: rgb(63, 208, 212);
    --white-color: #ffffff;
    --text-color: #212121;
    --text-small-color: rgb(105, 104, 104);
    --header-height: 78px;
}


.html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}